</!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VNET</title>
</head>
<body>
<div class="main">
	<div class="navbar">
		<img src="./images/logo.png" width="180px" height="90px">
		<div class="navbar_buttons">
			<button class="signin">
				<!-- <p class="signintext">
					Sign In
				</p> -->
				Sign In
			</button>
			<button class="signup">
				<!-- <p class="signuptext">
					Register
				</p> -->
				Register
			</button>
		</div>
		
	</div>

	<div class="text">
		<p class="connected">
			Staying Connected Has Never Been Easier!
		</p>
		<p class="topnotch">
		Top-Notch Video Conferencing and Online Meeting tools are what VNET brings to the table. All Free!
		</p>
	</div>
	<div class="getstartedbox">
		<button class="getstarted">
			<!-- <p class="getstartedtext">
			Get Started</p> -->
			Get Started
		</button>
	</div>

	<div class="footer">
		
		<div>
			<p class="VNET2022">
				V-NET @ 2022
			</p>
		</div>
		<div class="footer_icons">
			<div class="fb">
				<img src="./images/facebook.png" width="40" height="40px">
			</div>
			<div class="twitter">
				<img src="./images/twitter.png" width="32" height="32px">
			</div>
			
		</div>
		
		
	</div>
</div>
</body>
</html>