ansicon==1.89.0
arrow==1.2.2
asgiref==3.4.1
attrs==21.4.0
autobahn==21.2.1
Automat==20.2.0
azure-communication-identity==1.0.1
azure-core==1.24.2
blessed==1.19.1
certifi==2022.6.15
cffi==1.15.1
channels==3.0.4
charset-normalizer==2.0.12
constantly==15.1.0
cryptography==37.0.4
daphne==3.0.2
dataclasses==0.8
Django==3.2.14
django-compat==1.0.15
django-picklefield==3.1
djangorestframework==3.13.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
isodate==0.6.1
jinxed==1.2.0
msrest==0.7.1
oauthlib==3.2.0
Pillow==8.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.0.0
python-dateutil==2.8.2
pytz==2022.1
redis==3.5.3
requests==2.27.1
requests-oauthlib==1.3.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
Twisted==22.4.0
twisted-iocpsupport==1.0.2
txaio==22.2.1
typing_extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
zope.interface==5.4.0
