</!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="schedule.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>V-NET Schedule Meeting</title>
</head>
<body>
<div class="main">
	<div class="navbar">
		<div class="logo">
			<img src="./images/logo.png" width="80px" height="40px">
		</div>
	</div>
		<div class="innerbox">
			<div class="topbox">
				<p>Schedule Meeting</p>
			</div>
			<div class="formdiv">
				<form class="form">
					<div class="topic">
						<div class="topiclabeldiv">
							<label for="topiclabel">Topic:</label>
						</div>
						<input type="text" id="topicinput" name="topicinput">
					</div>
					<br>
					<br>
					<div class="start">
						<div class="startlabeldiv">
							<label for="startlabel">Start Time:</label>
						</div>
						<input type="text" id="start" name="start">
					</div>
					<br>
					<br>
					<div class="duration">
						<div class="durationlabeldiv">
							<label for="durationlabel">Duration:</label>
						</div>
						<input type="text" id="duration" name="duration">
					</div>
					<br>
					<br>
					<div class="generatecode">
						<div class="codediv">
							<button class="code">
							Generate Code
							</button>
						</div>
					<input type="text" id="codebox" name="codebox">
				</div>
				</form>
			</div>
			<button class="schedule">
				Schedule Meeting
			</button>
			<button class="cancel">
				Cancel
			</button>
		</div>
</div>
</body>