</!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="signin_style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>V-NET Sign in</title>
</head>
<body>
<div class="main">
	<div class="outerbox">
		<div class="innerbox">
			<div class="navbar">
				<div class="logo">
					<img src="./images/logo.png" width="80px" height="40px">
				</div>
			</div>
			<form class="form">
				<label for="username">Username:</label><br>
				<input type="text" id="usern" name="username"><br>
				<br>
				<label for="password">Password:</label><br>
				<input type="password" id="password" name="password">
			</form>
			<button class="signin">
				Sign In
			</button>
			<div class="urltext">
				<a href="url">Reset Password</a>
			</div>	
		</div>
	</div>
</div>
</body>