@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	margin: 0;
	width: 100%;
	height: 100%;
    font-size: 10px;
}

button {
	border: 1px solid transparent;
	font-size: 1.6em;
	cursor: pointer;
}

button > a {
    text-decoration: none;
    color: black;
}

.main{
    padding: 3em 5em 5em;
}

.navbar {
	width: 100%;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10em;
}

.navbar_buttons {
	width: 35em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #330033;
}

.signin, .signup{
	font-weight: 600;
	color: #330033;
	background-color:whitesmoke;
	width: 9.5em;
	height: 3em;
	border-radius: 5em;
}

.signin:hover, .signup:hover, .getstarted:hover {
	background-color: rgb(228, 227, 227);
}

.signin:active, .signup:active, .getstarted:active {
	background-color: rgb(192, 191, 191);
}

.text{
	width: 100%;
	background-color: transparent;
	text-align: center;
	margin-bottom: 5em;
}

.connected{
	color: white;
	font-size: 3em;
}

.topnotch{
	color: rgb(38, 255, 3);
	font-size: 2em;
}

.getstartedbox{
	width: 100%;
	background-color: transparent;
	display: flex;
	justify-content: center;
}

.getstarted{
	background-color:whitesmoke;
	width: 9.5em;
	height: 3em;
    border-radius: 5em;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    color: #330033;
}

.footer{
	width: 92%;
	background-color: transparent;
	position: absolute;
	bottom: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 10em;
}

.fb, .twitter {
	cursor: pointer;
}

.fb{
	bottom: 1em;
}

.twitter{
	bottom: 1.5em;
	left: 15em;
}

.VNET2022{
	font-size: 2em;
	color: rgb(38, 255, 3);
	margin: auto;
	right: 0;
	bottom: 1em;
	padding-right: 5em;
}