@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    background-color: #E5E1E1;
}

.center-mix {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.wild-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    width: 100%;
    background-color: #5A035A;
    color: #FFFFFF;
    border: 1px solid transparent;
    flex: 0.18;
    border-radius: 50px;
    font-size: 1.4em;
    font-weight: 500;
    height: fit-content;
    max-height: 100%;
    padding: 1em;
    cursor: pointer;
}

a.wild-buttons {
    text-decoration: none;
}

.wild-buttons:hover {
    background-color: #680768;
}

.wild-buttons:active {
    background-color: #330033;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
    border: 2px solid darkcyan;
    border-radius: 0.4em;
    display: block;
    width: 90%;
    height: 3em;
    transition: 0.3s;
    padding: 1.2em 2em;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus {
    border: 2px solid #330033;
}

input[type=text]::placeholder, input[type=number]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder {
    color: darkcyan;
    font-size: 1.2em;
}

/* Removes the clear button from date inputs */
input[type="datetime-local"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="datetime-local"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="datetime-local"] {
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="datetime-local"]:focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

select {
    border: 2px solid darkcyan;
    border-radius: 0.4em;
    display: block;
    width: 90%;
    height: 3em;
    transition: 0.3s;
    padding: 0.3em 2em;
    box-sizing: border-box;
    background: #E5E1E1;
}

select:focus {
    border: 2px solid #330033;
}

.alert {
    padding: 2em;
    background-color: #cce5ff;
    color: black;
    margin-bottom: 2em;
    border-radius: 0.2em;
}

/* The Modal (background) */
.vnet-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 10em;
}

/* The Close Button */
.vnet-modal-close {
    color: darkcyan;
    float: right;
    font-size: 2.8em;
    font-weight: bold;
}

.vnet-modal-close:hover, .vnet-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.vnet-modal-header {
    padding: 0.2em 1.6em;
    background-color: #2c2033;
    color: white;
}

/* Modal Body */
.vnet-modal-body {
    padding: 0.2em 1.6em;
}

/* Modal Footer */
.vnet-modal-footer {
    padding: 0.2em 1.6em;
    background-color: #2c2033;
    color: white;
}

/* Modal Content */
.vnet-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2), 0 0.6em 2em 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* NavBar CSS starts */
.navbar {
    margin: 0 0 2em 0;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #680768;
    padding: 0 2em 0 2em;
}

.navbar_vnet_logo {
    width: auto;
    height: 4em;
}

.navbar_userDetails, .navbar_userDetails_text, .navbar_userDetails_avatar {
    display: flex;
}

.navbar_userDetails {
    width: 50em;
    height: 6em;
}

.navbar_userDetails_text {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    padding: 0;
}

.navbar_userDetails_username, .navbar_userDetails_email {
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    height: auto;
    padding: 0;
    margin: 0;
}

.navbar_userDetails_username {
    font-weight: bold;
    font-size: 1.6em;
}

.navbar_userDetails_email {
    font-weight: 500;
    font-size: 1.2em;
}

.navbar_userDetails_avatar {
    width: 6em;
    height: 100%;
    border-radius: 40%;
    padding: 0;
    margin-left: 1em;
}

.navbar_avatar_img {
    width: 100%;
    height: 100%;
    border-radius: 40%;
}

/* Navbar CSS ends */